$jon: (
  50: #e7e4e4,
  100: #c3bbbc,
  200: #9b8d8f,
  300: #735f62,
  400: #553d41,
  500: #371b1f,
  600: #31181b,
  700: #2a1417,
  800: #231012,
  900: #16080a,
  A100: #ff586a,
  A200: #ff253d,
  A400: #f1001b,
  A700: #d70018,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$roman: (
  50: #fbecec,
  100: #f4cfcf,
  200: #edafb0,
  300: #e58f90,
  400: #e07778,
  500: #da5f60,
  600: #d65758,
  700: #d04d4e,
  800: #cb4344,
  900: #c23233,
  A100: #ffffff,
  A200: #ffd5d6,
  A400: #ffa2a3,
  A700: #ff898a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dustygrey: (
  50: #f3f2f2,
  100: #e0dddd,
  200: #ccc7c7,
  300: #b7b1b1,
  400: #a7a0a0,
  500: #988f8f,
  600: #908787,
  700: #857c7c,
  800: #7b7272,
  900: #6a6060,
  A100: #fddfdf,
  A200: #f9b0b0,
  A400: #ff7777,
  A700: #ff5d5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mobster: (
  50: #f0eef2,
  100: #d9d6df,
  200: #c0bac9,
  300: #a79eb3,
  400: #948aa3,
  500: #817593,
  600: #796d8b,
  700: #6e6280,
  800: #645876,
  900: #514564,
  A100: #d9c1ff,
  A200: #ba8eff,
  A400: #9a5bff,
  A700: #8b41ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
