$brownderby: (
  50: #eae3e3,
  100: #cbbab9,
  200: #a98c8b,
  300: #875d5d,
  400: #6d3b3a,
  500: #531817,
  600: #4c1514,
  700: #421111,
  800: #390e0d,
  900: #290807,
  A100: #ff6565,
  A200: #ff3232,
  A400: #fe0000,
  A700: #e50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$swirl: (
  50: #faf9f9,
  100: #f4f1f0,
  200: #ece8e6,
  300: #e4dfdc,
  400: #dfd8d5,
  500: #d9d1cd,
  600: #d5ccc8,
  700: #cfc6c1,
  800: #cac0ba,
  900: #c0b5ae,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff8f5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$lavenderpurple: (
  50: #f3eff6,
  100: #e2d7e8,
  200: #cfbcd9,
  300: #bba1ca,
  400: #ad8dbe,
  500: #9e79b3,
  600: #9671ac,
  700: #8c66a3,
  800: #825c9a,
  900: #70498b,
  A100: #f5e7ff,
  A200: #e0b4ff,
  A400: #cb81ff,
  A700: #c168ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$thunderbird: (
  50: #f6e4e4,
  100: #e9bcba,
  200: #da8f8d,
  300: #cb625f,
  400: #bf413c,
  500: #b41f1a,
  600: #ad1b17,
  700: #a41713,
  800: #9c120f,
  900: #8c0a08,
  A100: #ffbbba,
  A200: #ff8887,
  A400: #ff5654,
  A700: #ff3c3b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
