@use '@angular/material' as mat;
@use 'light-side' as ls;
@use 'dark-side' as ds;

@include mat.core;

$light-primary: mat.define-palette(ls.$thunderbird);
$light-accent: mat.define-palette(ls.$lavenderpurple);
$light-warning: mat.define-palette(ls.$brownderby);

// noinspection Stylelint
$dark-primary: mat.define-palette(ds.$roman);
$dark-accent: mat.define-palette(ds.$mobster);
$dark-warning: mat.define-palette(ds.$roman);

// noinspection Stylelint
$light-side-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warning,
    )
  )
);
$dark-side-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warning,
    ),
  )
);

.dark-side-theme {
  @include mat.core-theme($dark-side-theme);
  @include mat.all-component-themes($dark-side-theme);
}

.light-side-theme {
  @include mat.core-color($light-side-theme);
  @include mat.button-color($light-side-theme);
  @include mat.all-component-themes($light-side-theme);

  &.mat-app-background {
    background-color: darken(#fafafa, 5%);
  }
}

a {
  color: mat.get-color-from-palette($dark-accent);
}
